<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Silkroski_C969.Properties.Settings.client_scheduleConnectionString"
            connectionString="server=localhost;user id=test;password=test;persistsecurityinfo=True;database=client_schedule"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>